@font-face {
    font-family: 'keifont';
    src: url(/keifont.ttf);
}
.hogehogepiaaaa{
    font-size: 30px;
    color:rgb(0, 255, 123);
    font-family: 'keifont';
    text-decoration:none;
}
.pogepogepiaaaa{
    display:flex;
    flex-direction: row;
    background-color: rgba(0, 255, 255, 0.462);
    border-radius: 20px;
}
.kogekogepiaaaa{
    margin:9px;
    text-decoration:none;
    color:rgb(255, 255, 255);
    font-family: 'keifont';
}
.sogesogepiaaaa{
    text-decoration:none;
}
.vogevogepiaaaa{
    border-radius: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(0, 191, 92);
    margin: 10px auto 10px auto;
    padding: 10px;
    width: 50%;
    background-color: rgba(232, 232, 232, 0.49);


}
.fogefogepiaaaa{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0%;
}
.rogerogepiaaaa{
    text-align: center;
    width: 100%;
    font-size: 30px;
}
.gogegogepiaaaa{
    color: rgb(27, 139, 143);
    font-family: 'keifont';
    font-size: 40px;
}
.gogegogepiaaaa:hover{
    color: rgba(0, 255, 106, 0.64);
}