@font-face {
    font-family: 'keifont';
    src: url(/keifont.ttf);
}
.hogehogepiaaaa{
    font-size: 30px;
    color:rgb(255, 255, 255);
    font-family: 'keifont';
    text-decoration:none;
}
.pogepogepiaaaa{
    display:flex;
    flex-direction: row;
    background-image: linear-gradient(90deg, rgba(0, 255, 123, 0.31), rgba(150, 170, 240, 0.31));
    border-radius: 20px;
}
.kogekogepiaaaa{
    margin:9px;
    text-decoration:none;
    color:rgb(255, 255, 255);
    font-family: 'keifont';
}
.sogesogepiaaaa{
    text-decoration:none;
}
.vogevogepiaaaa{

    border-radius: 20px;
    margin: 10px auto 10px auto;
    padding: 10px;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(0, 255, 123, 0.31), rgba(150, 170, 240, 0.31));
    linear-gradient(90deg, rgba(0, 255, 123, 0.31), rgba(150, 170, 240, 0.31));


}
.fogefogepiaaaa{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0%;
    color: white;
    font-size: 30px;
}
.rogerogepiaaaa{
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-family: 'keifont';
}
.gogegogepiaaaa{
    color:rgb(255, 255, 255);;
    font-family: 'keifont';
    font-size: 40px;
}
.gogegogepiaaaa:hover{
    
}
.dogedogepiaaaa{
    background-color:linear-gradient(180deg, rgba(200, 200, 200, 1), rgba(90, 90, 90, 1));;
}